<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">Simple Form (Using ReactiveFormsGroup)</div>
        <div class="card-body">
          <app-simple-form-group></app-simple-form-group>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">Nested Form (Using ReactiveFormsGroup)</div>
        <div class="card-body">
          <app-nested-form-group></app-nested-form-group>
        </div>
      </div>
    </div>
  </div>
</div>