<div class="row">
  <div class="col-xs-12">
    <h3>{{recipe.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" style="max-height: 250px; max-width: 450px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-success">Add To Cart</button>
      <button type="button" class="btn btn-warning" [routerLink]="['edit']">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>