<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-group" routerLink="/" (click)="onActivate(0)">Home</a>
      <a class="btn btn-group" [routerLink]="['user', 1]" (click)="onActivate(1)">
        User 1 {{user1Activated ? "*":""}}
      </a>
      <a class="btn btn-group" [routerLink]="['user', 2]" (click)="onActivate(2)">
        User 2 {{user2Activated ? "*":""}}
      </a>
      <a class="btn btn-group" [routerLink]="['user', 3]" (click)="onActivate(3)">User 3</a>
      <a class="btn btn-group" [routerLink]="['user', 4]" (click)="onActivate(4)">User 4</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>