<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <!-- Commenting below code because using RouterModule -->
      <!--
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onNavTabSelectedEvent('home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onNavTabSelectedEvent('servers')">Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onNavTabSelectedEvent('users')">Users</a>
        </li>
      </ul>
      -->
      <!-- 2) This way causes relod of the app when user clicks on the link. Better solution is use ng routerLink directive-->
      <!--
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servers">Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
      </ul>
      -->
      <!-- Using ng routerLink directive - avoid app reload when user clicks on link-->
      <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="servers">Servers</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['users']">Users </a> </li>
      </ul>
    </div>
  </div>
  <!-- Using ng routes facility -->
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Commenting below code because using ng routes -->
  <!--
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-home *ngIf="selectedNavTab=='home'"></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users *ngIf="selectedNavTab=='users'"></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers *ngIf="selectedNavTab=='servers'"></app-servers>
    </div>
  </div>
  -->
</div>